.agree-pop {
  z-index: 998;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  .modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($color: #000000, $alpha: 0.4);
  }
  .pop-wrap {
    width: 1000px;
    padding: 30px 10px 66px 60px;
    position: absolute;
    top: 116px;
    left: 50%;
    margin-left: -500px;
    box-sizing: border-box;
    background: #fff;
    .agree-title {
      width: 880px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      color: #3697f5;
      font-weight: bold;
      border-bottom: 1px solid #e6e6e6;
    }
    .pop-container {
      height: 60vh;
      padding-top: 24px;
      overflow-y: auto;
      &::-webkit-scrollbar {
        border-radius: 20px;
        width: 10px;
        background-color: #e6e8eb;
      }
      &::-webkit-scrollbar-thumb {
        width: 100%;
        background: #dbdbdb;
        border-radius: 20px;
      }
      .agree-text {
        width: 880px;
        // height: 1111px;
        font-size: 14px;
        line-height: 26px;
        h3 {
          color: #333333;
          font-weight: bold;
          margin-bottom: 10px;
        }
        p {
          color: #666666;
          margin-bottom: 10px;
        }
      }
    }
  }
  .agree-close {
    position: absolute;
    width: 150px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    background: #42cb42;
    color: #fff;
    text-align: center;
    line-height: 40px;
    left: 50%;
    bottom: 10px;
    margin-left: -75px;
  }
}
