/*header*/
/* 头部css */
.head-wp { height: 70px; background: #f8fbff; min-width: 1200px; border-bottom: 1px solid #f2f2f2;}

.headinner { width: 1200px; margin: 0 auto; }

.logo { width: 201px; height: 42px; display: inline-block; float: left; margin-left: 3px; margin-top: 15px; }
.logo img { width: 201px; height: 42px; display: block; }

.nav-wp { float: right; margin-top: 27px; margin-right: 36px; }
.nav-wp li { display: inline; float: left; margin-left: 24px; position: relative; }
.nav-wp a { display: block; font-size: 14px; color: #9499a0; }
.nav-wp a:hover { text-decoration: none; color: #5d5c5c; }
.nav-wp .curr-wp { font-weight: bold; color: #5d5c5c; }
.nav-wp i.hot { position: absolute; right: -21px; top: -8px; display: block; overflow: hidden; width: 22px; height: 12px; background: url("./images/hot.gif") no-repeat; }

.pc-m { width: 210px; height: 37px; float: right; background: url("./images/pc-m-bg.png") no-repeat; margin-top: 18px; position: relative; }
.pc-m a { width: 60px; height: 36px; line-height: 36px; margin-top: 1px; display: inline-block; float: left; color: #4e9cfd; font-size: 16px; padding-left: 44px; position: relative; z-index: 999; background-image: url(./images/pc-m-iconbg.png); background-repeat: no-repeat; }
.pc-m a:hover { text-decoration: none; }
.pc-m .currColor { color: #fff; }
.pc-m .currColor:hover { color: #fff; }
.pc-m .pcIcon-lost { color: #4e9cfd; background-position: 15px -21px; }

.pcIcon-bg { background-position: 15px 7px; }

.pc-m .mIcon-bg { padding-left: 40px; background-position: 20px -96px; }

.pc-m .mIcon-hover { color: #fff; background-position: 20px -58px; }

#curr-pc-m { width: 104px; height: 35px; display: block; background: url("./images/pc-m-hoverbg.png") no-repeat; position: absolute; left: 1px; top: 1px; }

.user-info {
  float: right;
  margin-top: 27px;
  margin-right: 20px;
  .login-btn {
    height: 20px;
    display: block;
    font-size: 12px;
    line-height: 20px;
    color: #2693ff;
  }
  .log-info {
    display: none;
    height: 20px;
    line-height: 20px;
    color: #666;
    a {
      display: inline-block;
      font-size: 12px;
      color: #666;
      outline: none;
      &.username {
        width: 100px;
        overflow: hidden;
      }
    }
  }
}