.ie-upload {
  .title {
    height: 70px;
    line-height: 70px;
    padding-left: 14px;
    position: relative;
    font-size: 20px;
    color: #333333;
    font-weight: bold;
    &::before {
      content: "";
      width: 4px;
      height: 20px;
      position: absolute;
      top: 25px;
      left: 0px;
      background: #2693ff;
    }
  }
}