@import './common/reset.scss';
@import '../style/common/softHeadeFooter.scss';

@include softHeader();


.banner {
  min-width: 1200px;
  height: 500px;
  position: relative;
  background-image: url(./images/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  .inner {
    height: 500px;
    position: relative;
    .btn {
      width: 290px;
      height: 74px;
      line-height: 74px;
      position: absolute;
      right: 137px;
      bottom: 110px;
      background: #42cb42;
      font-size: 30px;
      text-align: center;
      color: #fff;
      border-radius: 3px;
      cursor: pointer;
      a{
        color: inherit;
      }
    }
  }
}
.step {
  padding-top: 20px;
  .step-title {
    height: 80px;
    line-height: 80px;
    font-size: 22px;
    color: #3697f5;
    font-weight: bold;
  }
  .step-list {
    padding: 0 20px;
    border: 1px solid #e6e6e6;
    background: #f4f4f4;
    li {
      width: 214px;
      height: 52px;
      padding-right: 20px;
      position: relative;
      line-height: 52px;
      float: left;
      color: #333;
      font-size: 22px;
      text-align: center;
      font-style: italic;
      font-weight: bold;
      &.last-step {
        width: 220px;
        padding-right: 0;
      }
      i {
        width: 20px;
        height: 52px;
        position: absolute;
        right: 0;
        top: 0;
        background: url(./images/step-bg.png);
      }
    }
  }
}
