@import "./mixins.scss";

.form-item {
  height: 102px;

  .form-item_title {
    height: 26px;
    font-size: 14px;
    color: #333333;
    @include when(required){
      &::before {
        content: "*";
        color: #ff4040;
      }
    }
   
    span>b{
      color: #999999;
      font-weight: 400;
    }
  }
  .form-item_input {
    overflow: hidden;
  }

  @include when(error){
    input[type="text"]{
      border-color:#ff4040;
    }
    .error-msg{
      font-size: 12px;
      color: #ff4040;
    }
  }

  .radio {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    .radio-input {
      .radio-input_inner {
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 16px;
        box-sizing: border-box;
        border-radius: 50%;
        border: 1px solid #3d9df2;
        position: relative;
        margin-right: 5px;
      }
    }
    @include when(checked) {
      .radio-input_inner::after {
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #3d9df2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    input[type="radio"] {
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
    }
    .radio-label {
      font-size: 14px;
    }
  }

  .input{
    width: 548px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    padding: 0 10px;
    outline: none;
    &.input[type="text"]:focus{
      border: 1px solid  #3d9df2;
    }
  }

  .textarea{
    width: 548px;
    height: 198px;
    resize: none;
    border: 1px solid #e6e6e6;
  }
  input[type="file"]{
    opacity: 0;
  }
  .button{
    width: 150px;
    height: 40px;
    border-radius: 4px;
    background: #3d9df2;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
  }

  &.introduce-form-item{
    height: 262px;
  }
  &.agree{
    height: 65px;
  }
    
  .checkbox{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    .checkbox-input{
      position: relative;
      cursor: pointer;
      .checkbox-input_inner{
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 2px;
        box-sizing: border-box;
        border: 1px solid #e6e6e6;
      }
    }
    input[type="checkbox"]{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      opacity: 0;
    }
    .checkbox-label{
      display: inline-block;
      text-indent: 10px;
      font-size: 14px;
      &::before{
        content: "*";
        color: #ff4040;
      }
      &>b{
        color: #3d9df2;
        cursor: pointer;
      }
    }
  }

  .submit-btn{
    background-color: #42cb42;
  }
}

.margin-right-40 {
  margin-right: 40px;
}
